.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* List Styles */

#list-container {
  position: absolute;
  width: 20vw;
  height: 100vh;
  z-index: 99;
  background-color: #2f3948;
  color: #f3d19c;
  padding: 8px;
  overflow: scroll;
}

#list-container ul {
  padding: 0;
  list-style-type: none;
}

.list--result {
  background: #333;
  border-left: 5px solid transparent;
  color: #f3d19c;
  margin: 0;
  overflow: hidden;
  padding: 20px 5px;
  position: relative;
  width: auto;
  border-bottom: 1px solid #ccc;
}

.list--result:hover {
  cursor: pointer;
  background-color: #f3d19c;
  color: #333;
  transition: 0.4s;
}

.item--content {
  margin: 0;
  padding: 20px;
}

/* Map Styles */

#map-container {
  width: 79vw;
  height: 100vh;
  position: absolute;
  right: 0;
}


#modalContent p {
  font-size: 1
  em;
  color: #f3d19c;
  font-weight: 600;
}

.grey {
  color: #a9a9a9;
  font-weight: 200;
}

/* Table Styles */

table {
  width: 100%;
  border: solid 1px #a9a9a9;
  margin: 0;
  padding:0;
}

tr {
  border: 1px solid #a9a9a9;
  margin: 0;
  padding: 0;
}

th, td {
  font-size: 0.8em;
  padding: 2px;
  margin: 0;
  border: 1px solid #a9a9a9;
}

th {
  color: #333;
  background: #f3d19c;
}

button {
  margin-top: 24px;
  background: #f3d19c;
  padding: 10px 16px;
  border: 1px solid white;
  border-radius: 10px;
  color: '#333';
}

#close:hover {
  background: #333;
  border: 1px solid #f3d19c;
  color: #f3d19c;
}

/* Responsive Styles */

@media screen and (max-width: 1024px) {
  #list-container {
    width: 35vw;
  }

  #map-container {
    width: 65vw;
  }
}

@media screen and (max-width: 514px) {
  #list-container {
    width: 100vw;
    height: 40vh;
    bottom: 0;
    overflow: scroll;
  }

  #map-container {
    width: 100vw;
    height: 59vh;
  }
}
