.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* List Styles */

#list-container {
  position: absolute;
  width: 20vw;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0,0,0,01);
  color: white;
  padding: 8px;
}

.list--item {
  background: #fff;
  border-left: 5px solid transparent;
  margin: 0;
  overflow: hidden;
  padding: 5px .5%;
  position: relative;
  width: auto;
}

.item--content {
  margin: 0;
  padding: 20px;
}

/* Map Styles */

#map-container {
  width: 79vw;
  height: 100vh;
  position: absolute;
  right: 0;
}

/* Responsive Styles */

@media screen and (max-width: 1024px) {
  #list-container {
    width: 35vw;
  }

  #map-container {
    width: 65vw;
  }
}

@media screen and (max-width: 514px) {
  #list-container {
    width: 100vw;
    height: 40vh;
    bottom: 0;
    overflow: scroll;
  }

  #map-container {
    width: 100vw;
    height: 59vh;
  }
}
