.App-header {
  background-color: #2f3948;
  height: 30px;
  width: 79vw;
  padding: 10px;
  color: #FAFAFA;
  position: absolute;
  z-index: 10;
  top: 0px
}

.Selection-box {
  background-color: #111;
  color: #f3d19c;
  padding: 8px 24px;
  height: 30px;
  font-size: 1.1em;
  position: absolute;
  right: 10%;
  z-index: 15;
}

h2 {
  text-align: center;
  -webkit-margin-before: 0.33em;
  -webkit-margin-after: 0.83em;
}



/* List Styles */

#list-container {
  position: absolute;
  width: 20vw;
  height: 100vh;
  z-index: 99;
  background-color: #2f3948;
  color: #f3d19c;
  padding: 8px;
  overflow: scroll;
}

#list-container ul {
  padding: 0;
  list-style-type: none;
}

.list--result {
  background: #333;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  color: #f3d19c;
  margin: 0;
  overflow: hidden;
  padding: 20px 5px;
  position: relative;
  width: auto;
  border-bottom: 1px solid #f3d19c;
  z-index: 101;
}

.list--result:hover {
  cursor: pointer;
  background-color: #f3d19c;
  color: #333;
  transition: 0.4s;
}

.item--content {
  margin: 0;
  padding: 20px;
}

/* Map Styles */

#map-container {
  width: 79vw;
  height: 100vh;
  position: absolute;
  right: 0;
}

.Map {
  max-height: 95vh;
  margin-top: 5.1vh;
}


#modalContent p {
  font-size: 1em;
  color: #f3d19c;
  font-weight: 600;
}

.modal {
  background-color: #222;
  color: #f3d19c;
  border-radius: 10px;
  max-width: 480px;
  min-height: auto;
  max-height: 63vh;
  margin: 50px auto;
  border: 1px solid #f3d19c;
  padding: 16px;
  overflow-y: scroll;
}

.grey {
  color: #a9a9a9;
  font-weight: 200;
}

/* Table Styles */

table {
  max-width: 100%;
  border: none;
  margin: 0;
  padding:0;
  border-radius: 5px;
  border-spacing: 1px;
}

tr {
  border: 1px solid #a9a9a9;
  margin: 0;
  padding: 0;
}

th, td {
  font-size: 0.8em;
  padding: 4px 2px;
  margin: 0;
  border: none;
}

th {
  color: #333;
  background: #f3d19c;
}

button {
  margin-top: 24px;
  background: #f3d19c;
  padding: 10px 16px;
  border: 1px solid white;
  border-radius: 10px;
  color: '#333';
}

#close:hover {
  background: #333;
  border: 1px solid #f3d19c;
  color: #f3d19c;
}

/* Responsive Styles */

@media screen and (max-width: 1024px) {
  .modal {
    margin-right: 5vw;
    float: right;
  }

  .modalContent {
    overflow: scroll;
  }

  #list-container {
    width: 35vw;
  }

  #map-container, .App-header {
    width: 65vw;
  }
}

@media screen and (max-width: 514px) {
  h2 {
    margin: 8px;
    margin-top: 0px;
    font-size: 1.2em;
    text-align: center;
  }

  .modal {
    max-width: 90vw;
    margin: 0 auto;
    float: none;
  }

  .App-header {
    width: 100vw;
  }

  #list-container {
    width: 100vw;
    height: 29vh;
    bottom: 0;
    overflow: scroll;
    border-top: 1px solid #f3d19c;
  }

  #map-container {
    width: 105vw;
    height: 69vh;
    transform: translateX(5%)
  }

  #modalContent p {
    font-size: 0.8em;
  }
}
